.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  background-color: purple;
  padding: 2% 4%;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.boxR {
  position: relative;
}

.icon {
  height: clamp(15px, 30px, 40px);
}

.iconCircle {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: purple;
  opacity: 0.7;
  border-radius: 50%;
  padding: 3px;
  z-index: 1;
  width: 100%;
}
